mixin solution(data)
  section.solution
    .solution-coat
      img(src="static/img/assets/solution/coat.png" srcset='static/img/assets/solution/coat@2x.png 2x, static/img/assets/solution/coat@15x.png 1.5x' alt="Coat")(data-scroll data-scroll-speed='1.2' data-scroll-offset='50')
    .content
      .title(data-scroll data-scroll-speed='1.2' data-scroll-offset='50')
        h2 Быстрое, правильное решение задачи 
      .solution-content(data-scroll  data-scroll-offset='50')
        span Перед вступлением или проверкой в СРО
        p Благодаря включению сотрудников в НОСТРОЙ или НОПРИЗ вы можете получить статус СРО и право заниматься строительными, проектировочными и изыскательными работами. 

      .solution-result(data-scroll data-scroll-offset='50')
        .solution-result__name В результате вы
        .solution-result__list
          ul
            li Работаете законно
            li Участвуете в государственных тендерах
            li Проходите любые проверки без замечаний и штрафов
            li Оформляете страховку на выгодных условиях
            li Укомплектуете штат подготовленными специалистами
            li Регулярно повышаете квалификацию сотрудников
            li Возмещаете убытки за счет компенсационного фонда
