doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/header/header
  include ../components/cpo/cpo
  include ../components/prices/prices
  include ../components/payback/payback
  include ../components/solution/solution
  include ../components/pick/pick
  include ../components/reasons/reasons
  include ../components/callback/callback
  head
    +head(head.defaults)
  body.page
    |%=symbols=%

    main.cpo-main

      +header()

      +cpo()

      +prices()

      +payback()

      +solution()

      +pick()

      +reasons()

      +callback

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')