doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/header/header
  include ../components/home/home
  include ../components/today/today
  include ../components/conditions/conditions
  include ../components/solution/solution

  head
    +head(head.defaults)
  body.page
    |%=symbols=%

    main.cpo-main

      +header()

      +home()

      +today()

      +conditions()

      +solution()

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')