@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
      url('../fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
      url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot');
  src: url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff') format('woff'),
      url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Bold';
  src: url('../fonts/Futura-Bold/Futura-Bold.eot');
  src: url('../fonts/Futura-Bold/Futura-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Futura-Bold/Futura-Bold.woff') format('woff'),
      url('../fonts/Futura-Bold/Futura-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat-Medium/Montserrat-Medium.eot');
  src: url('../fonts/Montserrat-Medium/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff'),
      url('../fonts/Montserrat-Medium/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$Bold = 'Montserrat-Bold', sans-serif;
$Reg  = 'Montserrat-Regular', sans-serif;
$Semi = 'Montserrat-SemiBold', sans-serif;
$FBold = 'Futura-Bold', sans-serif;
$Medium = 'Montserrat-Medium', sans-serif