// Mixins.

m-nl()
  margin 0
  padding 0
  text-indent 0
  list-style none
  list-style-position outside

m-cf()
  &:before, &:after
      display table
      content ""

  &:after
      clear both

  .lt-ie8 &
      zoom 1


m-blocks-justify()
  text-align justify
  text-justify newspaper


d-flex-center()
  display: flex
  justify-content: center
  align-items: center 

d-flex-right()
  display: flex
  justify-content: center
  align-items: center

d-flex-between()
  display: flex
  justify-content: space-between
  align-items: center

bb()
  box-sizing: border-box

// You can add your own mixins here:


placeholder()
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}

  

hdn()
  transform: translateX(2vw)
  opacity 0
  transition $tr

show()
  transform: translateX(0)
  opacity 1

hdnt()
  transform: translateY(1vw)
  opacity 0
  transition all 1s ease

showt()
  transform: translateY(0)
  opacity 1