.cpo
  padding-top 300px
  padding-bottom 263px
  background url('../img/assets/cpo/cpo.jpg') no-repeat center/cover
  position relative
  &::before
    content ''
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    background: radial-gradient(41.86% 48.84% at 50% 50%, rgba(14, 14, 14, 0.08) 0%, rgba(14, 14, 14, 0.71) 100%);
  .content
    position relative
    z-index 3
  .title
    margin-bottom 53px
  
  .home-tagline
    margin-bottom 70px