mixin cpo(data)
  section.cpo

    .content
      .title
        h1 Бесплатное получение  
          br
          | снимки
          span.text-gradient  СРО от 1 дня 
      .home-tagline
        span  В полном соответствии с ФЗ-315 зарегистрируем 
          br
          | компанию в 1 из 200 проверенных организаций РФ 
          br
          |  без подводных камней и проволочек

      .home-form
        form
          .form-row
            .form-group
              input(type="text" placeholder='Ваш телефон')
            .form-group.form-group__button
              button.button
                span Подобрать СРО