mixin fraud(data)
  section.fraud
    .content
      .title(data-scroll data-scroll-speed='1.2' data-scroll-offset='50')
        h2 До 38% предложений рынка — мошенничеств
      .fraud-info(data-scroll  data-scroll-offset='50')
        span Приводим 8 признаков нерадивого исполнителя
        span Услуги регистрации в НОСТРОЙ/НОПРИЗ часто предлагают  
          strong  недобросовестные исполнители и просто мошенники. 
          br
          | Вы заплатите им деньги, но не получите результат. 
      

      .fraud-label(data-scroll  data-scroll-offset='50')
        span Насторожитесь, если вам: 
      
      .fraud-items
        
        //- Fraud Item
        .fraud-item(data-scroll  data-scroll-offset='50')
          strong Не предоставляют свидетельство  
          |  об аккредитации
        
        //- Fraud Item
        .fraud-item(data-scroll  data-scroll-offset='50')
          strong Не дают гарантии 
          |  прохождения проверок СРО. 
        
        //- Fraud Item
        .fraud-item(data-scroll  data-scroll-offset='50') Несколько раз 
          strong меняют стоимость  
          |  одной и той же услуги

        //- Fraud Item
        .fraud-item(data-scroll  data-scroll-offset='50')
          strong Выставляют счета до 
          |  того, как выяснят задачи
        


        //- Fraud Item
        .fraud-item(data-scroll  data-scroll-offset='50')
          strong Навязывают 
          |  дополнительные и ненужные 
          strong  услуги

        
        //- Fraud Item
        .fraud-item(data-scroll  data-scroll-offset='50')
          strong Перезванивают после посещения сайта, 
          |  хотя вы не оставляли заявку и нигде не писали свой номер
        
        //- Fraud Item
        .fraud-item(data-scroll  data-scroll-offset='50') Предлагают заказать услугу через  
          strong незаконченный неудобный сайт 
          |  с ошибками в описании услуг

        //- Fraud Item
        .fraud-item(data-scroll  data-scroll-offset='50')
          strong Оформляют 
          |  в штат 
          strong сотрудника 
          | , который уже числится
          strong  в другой компании