mixin team(data)
  section.team
    .content

      .team-text(data-scroll data-scroll-offset='50')
        span Собрали в команде специалистов с опытом работы в 
          br
          | строительных компаниях, сертифицированных центрах,
          br
          | налоговых органах и других государственных структурах
      
      .team-slider

        .team-slides


          //- Team Slide
          .team-slide(data-scroll data-scroll-offset='50')
            .team-slide__photo
              img(src="static/img/assets/team/t1.jpg", alt="Team Photo")
            .team-slide__text
              span Мария
              span Специалист по работе с клиентами

          //- Team Slide
          .team-slide(data-scroll data-scroll-offset='50')
            .team-slide__photo
              img(src="static/img/assets/team/t2.jpg", alt="Team Photo")
            .team-slide__text
              span Сергей
              span Специалист по работе с клиентами


          //- Team Slide
          .team-slide(data-scroll data-scroll-offset='50')
            .team-slide__photo
              img(src="static/img/assets/team/t3.jpg", alt="Team Photo")
            .team-slide__text
              span Наташа
              span Специалист по работе с клиентами

          //- Team Slide
          .team-slide(data-scroll data-scroll-offset='50')
            .team-slide__photo
              img(src="static/img/assets/team/t4.jpg", alt="Team Photo")
            .team-slide__text
              span Роман
              span Специалист по работе с клиентами
