mixin check(data)
  section.check
    .content
      .title(data-scroll data-scroll-speed='1.2' data-scroll-offset='50')
        h2 Проверяем компании и специалистов
          br
          |  на соответствие заданным критериям
        span Находим решение для 22% тех, у кого они не выполнены

      .check-tabs
        ul
          li.active Требования к сотрудникам
          li Общие требования
      

      .check-items(data-scroll  data-scroll-offset='50')

        .check-item.active
          .check-item__photo
            img(src="static/img/assets/check/photo.jpg", alt="Check")
          .check-item__list
            ul
              li Высшее строительное образование
              li Стаж на должности инженера не менее 3 лет
              li Стаж в строительстве от 10 лет 
              li Проходил курсы повышения квалификации не позднее 5 лет
              li Трудовая виза (для иностранцев)
              li Отсутствие непогашенной судимости
      
        .check-item
          .check-item__photo
            img(src="static/img/assets/check/photo.jpg", alt="Check")
          .check-item__list
            ul
              li Высшее строительное образование №1
              li Стаж на должности инженера не менее 3 лет №2
              li Стаж в строительстве от 10 лет  №3
              li Проходил курсы повышения квалификации не позднее 5 лет
              li Трудовая виза (для иностранцев)
              li Отсутствие непогашенной судимости