mixin find(data)
  section.find
    .content
      .title
        h2 Найдем решение любой задачи
        span Шаги по достижению поставленной цели от 
          strong 24 
          |  часов 
      
      .find-items


        //- Find Item
        .find-item
          .find-item__number 01
          .find-item__text
            span Заявка
            p Расскажите, в какой реестр и в какие сроки нужно попасть
        
        //- Find Item
        .find-item
          .find-item__number 02
          .find-item__text
            span Постановка задач
            p Определяем, требуется ли включить в реестры ваших сотрудников или дополнить коллектив нашими

        //- Find Item
        .find-item
          .find-item__number 03
          .find-item__text
            span Заключение договора
            p Письменно фиксируем стоимость, перечень услуг и сроки


        //- Find Item
        .find-item
          .find-item__number 04
          .find-item__text
            span Подготовка документов
            p Собираем копии паспортов, дипломов, должностных инструкций, пишем заявления
      
        //- Find Item
        .find-item
          .find-item__number 05
          .find-item__text
            span Результат
            p Специалисты вашей компании попадают в НОСТРОЙ/НОПРИЗ, или в ваш штат добавляются уже зарегистрированные сотрудники, вы соответствуете требованиям 372-ФЗ и ГК РФ