.licenses
  margin-bottom 35px
  padding-bottom 92px
  .title
    margin-bottom 35px
  &-items
    display flex
    flex-wrap: wrap
  &-item
    width 20%
    transition: $tr
    &:hover
      transform: translateY(-15px)
    img
      max-width: 95%
      margin 0 auto


.licenses
  &-item
    hdnt()
    transition-delay: .2s
    &.is-inview
      showt()
      &:hover
        transition-delay: 0s