.home
  padding-top 300px
  padding-bottom 80px
  background #0E0E0E
  position relative
  .title
    margin-bottom 50px
  &-tagline
    padding-left 230px
    margin-bottom 65px
    position relative
    &::before
      content ''
      position absolute
      left 0
      top 20px
      width 204px
      height 5px
      background url('../img/assets/home/radial.svg') no-repeat center/contain
    span
      display block
      color: $txt;
      font-size 22px
      line-height 1.88
  &-button
    padding-left 230px
    margin-bottom 105px
    bb()


  &-items
    display flex
    flex-wrap: wrap
    padding-right 170px
    bb()
  &-item
    width 50%
    margin-bottom 20px
    position relative
    bb()
    padding-left 55px
    &::before
      content ''
      position absolute
      left 0
      top 5px
      width 18px  
      height 18px
      border-radius: 50%
      border 1px solid $txt
    &::after
      content ''
      position absolute
      left 7.5px
      top 12px
      background $ac
      width 6px
      height 6px
      border-radius: 50%
    span
      display block
      font-size 18px
      line-height 1.88
      color $txt



.home
  .content
    position relative
    z-index 3
  &-video
    position absolute
    right 0
    height 100%
    width 50%
    top 0
    &__bg
      position absolute
      left 0
      top 0
      width 100%
      height 100%
      img
        width 100%  
        height 100%
        object-fit: cover

    &__icon
      width 145px
      height 145px
      display flex
      justify-content center
      align-items center
      position relative
      &::after
        content ''
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        background url('../img/assets/home/round.svg') no-repeat center/contain
        transition: $tr
    &__info
      position absolute
      z-index 1
      left 0
      top 0
      width 100%
      top 50%
      transform: translateY(-50%)
      z-index 13
      display flex
      align-items center
      padding-left 14.4329896907%
      span
        display block
        margin-right 40px
        font-size 24px
        line-height 1.2
        font-family $Reg
        transition: $tr
      &:hover
        span
          color $ac
        .home-video__icon
          &::after
            transform: rotate(180deg)


.home
  position relative
  &-icon
    position absolute
    left 0
    top 0

.home
  .title
    hdnt()
    transition-delay: .8s
  &-tagline
    hdnt()
    transition-delay: .9s
  &-video__info
    opacity 0
    transition: all 1s ease
    transition-delay 1s
    
  &-button
    hdnt()
    transition-delay: 1.1s
  &-item
    hdnt()
    transition-delay: 1.2s
    &:nth-child(2)
      transition-delay: 1.3s
    &:nth-child(3)
      transition-delay: 1.4s
    &:nth-child(4)
      transition-delay: 1.5s

  &-icon
    hdnt()
    transition-delay: 1.6s
body.loaded
  .home
    .title
      showt()
    &-tagline,
    &-video__info,
    &-button,
    &-item,
    &-icon
      showt()