.proud
  padding-bottom 200px
  .title
    text-align center
    margin-bottom 100px

  .videos-slide
    hdnt()
    transition-delay: .1s
  
  .videos-slider.is-inview
    .videos-slide
      showt()