mixin proud(data)
  section.proud
    .content
      .title
        h2 Есть, чем гордиться
        span Оценка работы №1 — мнение клиентов
    
      .videos-slider

        .videos-slides
          
          //- Videos Slide
          .videos-slide
            a(href="#").videos-slide__link
              img(src="static/img/assets/proud/p1.jpg", alt="Videos Slide")
          
          //- Videos Slide
          .videos-slide
            a(href="#").videos-slide__link
              img(src="static/img/assets/proud/p2.jpg", alt="Videos Slide")
          