mixin schema(data)
  section.schema
    .content
      .title
        h2 Пошаговая схема реализации задачи
        span Все платежи 1 на 1 с СРО, а остальное на нас

      .schema-wrapper

        //- Schema Left
        .schema-left
          .schema-points

            .schema-point
              span Помогаем выбрать надежное СРО
              a(href="#") Узнать, какое СРО подойдет вам
            .schema-point
              span Оформляем документы
              a(href="#") Скачать список документов для вступления в СРО
            .schema-point
              span Регистрируем специалистов в НРС
              a(href="#") Уточнить требования к сотрудникам
            .schema-point
              span Вносите деньги на счет СРО
              a(href="#") Рассчитать стоимость
            .schema-point
              span Получаете полный комплект документов, подтверждающих участие в СРО.
              a(href="#") Заказать услугу
        
        //- Schema Right
        .schema-right
          .schema-items 


            //- Schema Item
            .schema-item
              .schema-item__icon
                img(src="static/img/assets/schema/s1.svg", alt="Schema")
              .schema-item__text
                span Консультация
                p Поможем выбрать СРО, расскажем, на что обратить внимание, и ответим на любые вопросы о саморегулируемых организациях
                +button('#','Оставить заявку').button-transparent.button-white
            
            //- Schema Item
            .schema-item
              .schema-item__icon
                img(src="static/img/assets/schema/s2.svg", alt="Schema")
              .schema-item__text
                span Консультация
                p Поможем выбрать СРО, расскажем, на что обратить внимание, и ответим на любые вопросы о саморегулируемых организациях
                +button('#','Оставить заявку').button-transparent.button-white
            
            //- Schema Item
            .schema-item
              .schema-item__icon
                img(src="static/img/assets/schema/s3.svg", alt="Schema")
              .schema-item__text
                span Консультация
                p Поможем выбрать СРО, расскажем, на что обратить внимание, и ответим на любые вопросы о саморегулируемых организациях
                +button('#','Оставить заявку').button-transparent.button-white
            
            //- Schema Item
            .schema-item
              .schema-item__icon
                img(src="static/img/assets/schema/s4.svg", alt="Schema")
              .schema-item__text
                span Консультация
                p Поможем выбрать СРО, расскажем, на что обратить внимание, и ответим на любые вопросы о саморегулируемых организациях
                +button('#','Оставить заявку').button-transparent.button-white
            
            //- Schema Item
            .schema-item
              .schema-item__icon
                img(src="static/img/assets/schema/s5.svg", alt="Schema")
              .schema-item__text
                span Консультация
                p Поможем выбрать СРО, расскажем, на что обратить внимание, и ответим на любые вопросы о саморегулируемых организациях
                +button('#','Оставить заявку').button-transparent.button-white