mixin good(data)
  section.good
    .content
      .title
        h2 Отличная работа!
        span Измеримые в 6 цифрах результаты профессиональной помощи

      .good-slider

        .good-slides

          //- Good Slide
          .good-slide 

            .good-slide__wrapper
              
              .good-slide__text
                span Зарегистрировали в НОСТРОЙ двух 
                  br
                  | сотрудников компании за 3 дня
                p 
                  strong Клиент —
                  |  строительная компания 
                p   
                  strong Задача: 
                  |  Получить статус СРО, зарегистрировать двух сотрудников в НОСТРОЙ
                p
                  strong Решение:
                  | Обратились в «Содействие» за консультацией и оформлением документов
                p
                  strong Результаты: 
                ul
                  li Собрали полный пакет документов на двух сотрудников 
                  li Помогли оформить заявления и подать документы на  регистрацию
                  li Добавили сотрудников в НОСТРОЙ за 3 дня и вступили в СРО


              .good-slide__photos
                img(src="static/img/assets/good/g1.jpg", alt="Good Slide")
                img(src="static/img/assets/good/g2.jpg", alt="Good Slide")
          //- Good Slide
          .good-slide 

            .good-slide__wrapper
              
              .good-slide__text
                span Зарегистрировали в НОСТРОЙ двух 
                  br
                  | сотрудников компании за 3 дня
                p 
                  strong Клиент —
                  |  строительная компания 
                p   
                  strong Задача: 
                  |  Получить статус СРО, зарегистрировать двух сотрудников в НОСТРОЙ
                p
                  strong Решение:
                  | Обратились в «Содействие» за консультацией и оформлением документов
                p
                  strong Результаты: 
                ul
                  li Собрали полный пакет документов на двух сотрудников 
                  li Помогли оформить заявления и подать документы на  регистрацию
                  li Добавили сотрудников в НОСТРОЙ за 3 дня и вступили в СРО


              .good-slide__photos
                img(src="static/img/assets/good/g1.jpg", alt="Good Slide")
                img(src="static/img/assets/good/g2.jpg", alt="Good Slide")
          

          //- Good Slide
          .good-slide 

            .good-slide__wrapper
              
              .good-slide__text
                span Зарегистрировали в НОСТРОЙ двух 
                  br
                  | сотрудников компании за 3 дня
                p 
                  strong Клиент —
                  |  строительная компания 
                p   
                  strong Задача: 
                  |  Получить статус СРО, зарегистрировать двух сотрудников в НОСТРОЙ
                p
                  strong Решение:
                  | Обратились в «Содействие» за консультацией и оформлением документов
                p
                  strong Результаты: 
                ul
                  li Собрали полный пакет документов на двух сотрудников 
                  li Помогли оформить заявления и подать документы на  регистрацию
                  li Добавили сотрудников в НОСТРОЙ за 3 дня и вступили в СРО


              .good-slide__photos
                img(src="static/img/assets/good/g1.jpg", alt="Good Slide")
                img(src="static/img/assets/good/g2.jpg", alt="Good Slide")
          