@media screen and (max-width: 1700px)
  .content
    width 1360px
  nav.menu ul li
    margin-right 40px
  .home-tagline
    padding-left 0
    &::before
      content none


  .home
    &-button
      padding-left 0
    &-items
      padding-right 0

  
  .today
    padding-top 100px
  .title h2 + span
    margin-top 0
  
  .solution-coat
    max-width: 600px
  .solution
    padding-bottom 0
  
  .reasons
    &-item
      margin-bottom 50px
      &__number
        width 50px
        margin-right 35px
        span
          font-size 50px
        
      &__center
        padding-left 50px
      

  .fraud
    padding-bottom 0
  
  .about
    &-video
      width calc(57.7160493827% + calc((100vw - 1360px) / 2))
      margin-left calc(-50vw + 680px)
  
  .team
    &-slider
      width calc(100% + calc((100vw - 1360px) / 2))

  .today-slider
    width calc(100% + ((100vw - 1360px) / 2))

  .videos-slider
    width calc(100% + calc((100vw - 1360px) / 2))
    margin-left calc(-50vw + 680px)

  .check-item__photo
    width calc(33.4567901235% + calc((100vw - 1360px) / 2))
    margin-left calc(-50vw + 680px)

  .reviews-slider
    width calc(100% + calc((100vw - 1360px) / 2))
    margin-left calc(-50vw + 680px)



  .find-items
    max-width: 100%

  
  .faq
    padding-bottom 100px

  .contacts #maped
    max-width: 70%
    display flex
    justify-content flex-end
    align-items flex-end

@media screen and (max-width: 1445px)
  .content  
    width 1140px
  
  .header
    top 20px
  
  nav.menu ul li
    margin-right 20px
  .header-phone a
    font-size 16px
  .header-phone
    margin-right 30px
    a
      padding-left 30px
  .button
    padding-left 50px
    padding-right 50px
  
  .home
    padding-top 200px
  h1
    font-size 50px
  .home-tagline span
    font-size 18px
  .home-video__info span
    font-size 20px
    line-height 1.5
  .home-item span
    font-size 16px
  .home-button
    margin-bottom 50px
  .home
    padding-bottom 50px

  
  .about
    &-video
      width calc(57.7160493827% + calc((100vw - 1140px) / 2))
      margin-left calc(-50vw + 570px)
  
  .team
    &-slider
      width calc(100% + calc((100vw - 1140px) / 2))

  .today-slider
    width calc(100% + ((100vw - 1140px) / 2))

  .videos-slider
    width calc(100% + calc((100vw - 1140px) / 2))
    margin-left calc(-50vw + 570px)

  .check-item__photo
    width calc(33.4567901235% + calc((100vw - 1140px) / 2))
    margin-left calc(-50vw + 570px)

  .reviews-slider
    width calc(100% + calc((100vw - 1140px) / 2))
    margin-left calc(-50vw + 570px)

  
  .home
    position relative
    &-icon
      height 100%
      img
        max-height: 100%
  h2
    font-size 40px

  .title h2 + span
    font-size 18px
  .solution-coat
    max-width: 500px
  .reasons-item
    width 33.3333333%
  
  .fraud-item
    width 32%
    margin-right 2%
    &:nth-child(4n)
      margin-right 2%
    &:nth-child(3n)
      margin-right 0
  
  .about-info p
    font-size 18px
    margin-bottom 30px
  .about-video
    height 500px
  .about-wrapper
    min-height: 500px 
  .good-slide__wrapper
    align-items flex-start
  .good-slide__text span
    font-size 18px
    br
      display none
    
  .good-slide__text p
    margin-top 30px
  .faq-item__answer p
    padding-left 0
    padding-right 0
    font-size 16px
  
  .proud
    padding-bottom 100px
  
  .contacts
    padding-top 100px


@media screen and (max-width: 1200px)
  .content
    width 950px
  
  nav.menu ul a
    font-size 16px
  .button span
    font-size 16px
  h1
    font-size 45px
  .home-tagline span
    font-size 16px
  .home-tagline
    margin-bottom 50px
  .home-item
    padding-left 35px

  .about
    &-video
      width calc(57.7160493827% + calc((100vw - 950px) / 2))
      margin-left calc(-50vw + 475px)
  
  .team
    &-slider
      width calc(100% + calc((100vw - 950px) / 2))

  .today-slider
    width calc(100% + ((100vw - 950px) / 2))

  .videos-slider
    width calc(100% + calc((100vw - 950px) / 2))
    margin-left calc(-50vw + 475px)

  .check-item__photo
    width calc(33.4567901235% + calc((100vw - 950px) / 2))
    margin-left calc(-50vw + 475px)

  .reviews-slider
    width calc(100% + calc((100vw - 950px) / 2))
    margin-left calc(-50vw + 475px)
  
  h2
    font-size 35px
    
  .today .title
    margin-bottom 50px
  .solution-coat
    max-width: 450px
  
  .solution
    padding-top 100px

  .fraud
    padding-top 100px
  .fraud-info span
    font-size 18px
  
  .fraud-info
    margin-bottom 50px
  .fraud-label
    margin-bottom 50px
  .fraud-item
    font-size 16px
    line-height 1.5
  .team-text span
    font-size 16px
  .good
    &-slide
      &__text
        width calc(100% - 300px)
      &__photos
        width 300px
        flex-direction: column
        img
          width 100%
          &:first-child
            margin-bottom 25px
  
  .faq-item__question span:last-child
    font-size 16px
  .faq-item
    width calc(50% - 15px)
  
  .faq
    padding-bottom 80px
  .contacts #maped
    height 300px
    max-width: 60%
  
  .header
    .button
      height 50px
      padding-left 25px
      padding-right 25px
  .header .logo
    max-width: 100px

@media screen and (max-width: 992px)
  .content
    width calc(100% - 30px)
  nav.menu
    display none
  
  .home
    padding-top 140px
    &-icon
      display none

  h1
    font-size 35px
    line-height 1.4
    
  .home-tagline span
    font-size 14px
  
  .home
    .title
      margin-bottom 30px
    
  .button
    height 60px
  .home-video__info span
    font-size 18px
  .home-video__icon
    width 100px
    height 100px
  .home-video__info span
    margin-right 20px
  
  
  .today-tagline
    display none

  .about
    &-video
      width calc(57.7160493827% + 30px)
      margin-left -15px
  
  .team
    &-slider
      width calc(100% + 30px)

  .today-slider
    width calc(100% + 30px)

  .videos-slider
    width calc(100% + 30px)
    margin-left -15px

  .check-item__photo
    width calc(33.4567901235% + 30px)
    margin-left -15px

  .reviews-slider
    width calc(100% + 30px)
    margin-left -15px

  
  .today-center
    padding-left 30px
  .conditions
    height 300px
  h2
    font-size 25px
  
  .title h2 + span
    font-size 14px
  .solution-coat
    display none
  .solution .content
    padding-left 0
    
  .reasons-item
    width 50%
  .reasons-item__center span
    font-size 16px
  p
    font-size 16px
  .reasons-item__center span
    min-height:  unset
  .team-slide
    width 400px
    height 580px
    &__text
      padding-left 20px

  .team-slide__text span:first-child,
  .team-slide__text span:last-child
    font-size 16px


  .videos-slide
    width 700px
    height 400px
  
  .videos
    padding-bottom 100px

  
  .find
    padding-top 100px
    padding-bottom 100px
    .title
      margin-bottom 40px
    &-item
      &__text
        padding-left 0
        span
          &::before
            content none
    &-items
      justify-content space-between
    &-item
      width calc(50% - 10px)
      margin-bottom 35px
      &__text
        p
          font-size 14px
        span
          font-size 18px
      &__number
        font-size 60px
  .check-tabs ul li
    font-size 18px
    &:last-child
      margin-right 0
  
  .check
    padding-bottom 100px
    &-tabs
      margin-bottom 40px
    &-item
      &__photo
        display none
      &__list
        width 100%
  .check-item__list li
    font-size 16px
    padding-left 40px
  
  .good
    &-slide
      &__photos
        display none
      &__text
        width 100%
        padding-right 0
        li
          font-size 16px
    .title
      margin-bottom 40px
  
  .faq
    &-item
      width 100%
  
  .contacts
    display none
  
  .header-burger
    display flex
    margin-left 20px

@media screen and (max-width: 768px)
  .header-phone,
  .header-button
    display none
  
  .home
    padding-top 120px
  h1
    font-size 30px
  .home-item span
    font-size 14px
  
  .home-item
    width 100%
  .home-video__info span
    margin-right 10px
  
  .home-video__info span
    font-size 16px
  .button span
    font-size 14px
    
  .button
    padding-left 30px
    padding-right 30px
    height 50px
  
  .today
    padding-top 50px
  .today-slide__name
    font-size 16px
    margin-bottom 10px
  p
    font-size 14px

  .today-slide
    width 380px
  .solution
    padding-top 50px

  .solution-content span
    font-size 16px
    margin-bottom 20px
  
  .solution-content
    margin-bottom 20px
  .solution-result__list li
    padding-left 40px
    font-size 16px
  
  .reasons
    padding-top 50px
    &-item
      width calc(50% - 10px)
      &__center
        padding-left 0
        span
          &::before
            content none
    &-items
      justify-content space-between
  .reasons-item__center span
    font-size 14px
  .reasons-item__number
    display none
  
  .callback
    height 350px
  
  .fraud
    padding-top 50px
    &-items
      justify-content space-between
    &-item
      width calc(50% - 10px)
      margin-right 0
      &:nth-child(4n)
        margin-right 0
  
  .about
    &-video
      display none  
    &-info
      width 100%
    &-wrapper
      min-height: auto
    
    .title
      margin-bottom 50px
  
  .licenses
    padding-bottom 50px
    margin-bottom 0
    .title
      margin-bottom 20px
    &-item
      width 33.33333333%
      margin-bottom 10px

  
  .team
    padding-bottom 50px
    &-slider
      padding-left 75px

  .team .slick-arrow.slick-next
    left -50px
  .team-slide
    width 300px
    height 480px
  .videos-slide
    width 600px
    height 350px
  
  .videos
    padding-bottom 50px
  
  .find
    padding-top 50px
    padding-bottom 50px
  .check .title
    margin-bottom 50px
  .check
    padding-bottom 50px
  
  .faq
    padding 50px 0
  .proud .title
    margin-bottom 50px