@media screen and (max-width: 1700px)
  .content
    width 1360px
  nav.menu ul li
    margin-right 40px
  .home-tagline
    padding-left 0
    &::before
      content none


  .home
    &-button
      padding-left 0
    &-items
      padding-right 0

  
  .today
    padding-top 100px
  .title h2 + span
    margin-top 0
  



  .solution-coat
    max-width: 600px
  .solution
    padding-bottom 0
  
  .reasons
    &-item
      margin-bottom 50px
      &__number
        width 50px
        margin-right 35px
        span
          font-size 50px
        
      &__center
        padding-left 50px
      

  .fraud
    padding-bottom 0
  
  .about
    &-video
      width calc(57.7160493827% + calc((100vw - 1360px) / 2))
      margin-left calc(-50vw + 680px)
  
  .team
    &-slider
      width calc(100% + calc((100vw - 1360px) / 2))

  .today-slider
    width calc(100% + ((100vw - 1360px) / 2))

  .videos-slider
    width calc(100% + calc((100vw - 1360px) / 2))
    margin-left calc(-50vw + 680px)

  .check-item__photo
    width calc(33.4567901235% + calc((100vw - 1360px) / 2))
    margin-left calc(-50vw + 680px)

  .reviews-slider
    width calc(100% + calc((100vw - 1360px) / 2))
    margin-left calc(-50vw + 680px)



  .find-items
    max-width: 100%

  
  .faq
    padding-bottom 100px

  .contacts #maped
    max-width: 70%
    display flex
    justify-content flex-end
    align-items flex-end