@media screen and (max-width: 1700px)
  .content
    width 1360px
  nav.menu ul li
    margin-right 40px
  .home-tagline
    padding-left 0
    &::before
      content none


  .home
    &-button
      padding-left 0
    &-items
      padding-right 0

  
  .today
    padding-top 100px
  .title h2 + span
    margin-top 0
  
  .solution-coat
    max-width: 600px
  .solution
    padding-bottom 0
  
  .reasons
    &-item
      margin-bottom 50px
      &__number
        width 50px
        margin-right 35px
        span
          font-size 50px
        
      &__center
        padding-left 50px
      

  .fraud
    padding-bottom 0
  
  .about
    &-video
      width calc(57.7160493827% + calc((100vw - 1360px) / 2))
      margin-left calc(-50vw + 680px)
  
  .team
    &-slider
      width calc(100% + calc((100vw - 1360px) / 2))

  .today-slider
    width calc(100% + ((100vw - 1360px) / 2))

  .videos-slider
    width calc(100% + calc((100vw - 1360px) / 2))
    margin-left calc(-50vw + 680px)

  .check-item__photo
    width calc(33.4567901235% + calc((100vw - 1360px) / 2))
    margin-left calc(-50vw + 680px)

  .reviews-slider
    width calc(100% + calc((100vw - 1360px) / 2))
    margin-left calc(-50vw + 680px)



  .find-items
    max-width: 100%

  
  .faq
    padding-bottom 100px

  .contacts #maped
    max-width: 70%
    display flex
    justify-content flex-end
    align-items flex-end

  .cpo
    padding-bottom 150px
  .prices-img
    left 20px
  .pick
    padding-bottom 100px

@media screen and (max-width: 1445px)
  .content  
    width 1140px
  
  .header
    top 20px
  
  nav.menu ul li
    margin-right 20px
  .header-phone a
    font-size 16px
  .header-phone
    margin-right 30px
    a
      padding-left 30px
  .button
    padding-left 50px
    padding-right 50px
  
  .home
    padding-top 200px
  h1
    font-size 50px
  .home-tagline span
    font-size 18px
  .home-video__info span
    font-size 20px
    line-height 1.5
  .home-item span
    font-size 16px
  .home-button
    margin-bottom 50px
  .home
    padding-bottom 50px

  
  .about
    &-video
      width calc(57.7160493827% + calc((100vw - 1140px) / 2))
      margin-left calc(-50vw + 570px)
  
  .team
    &-slider
      width calc(100% + calc((100vw - 1140px) / 2))

  .today-slider
    width calc(100% + ((100vw - 1140px) / 2))

  .videos-slider
    width calc(100% + calc((100vw - 1140px) / 2))
    margin-left calc(-50vw + 570px)

  .check-item__photo
    width calc(33.4567901235% + calc((100vw - 1140px) / 2))
    margin-left calc(-50vw + 570px)

  .reviews-slider
    width calc(100% + calc((100vw - 1140px) / 2))
    margin-left calc(-50vw + 570px)

  
  .home
    position relative
    &-icon
      height 100%
      img
        max-height: 100%
  h2
    font-size 40px

  .title h2 + span
    font-size 18px
  .solution-coat
    max-width: 500px
  .reasons-item
    width 33.3333333%
  
  .fraud-item
    width 32%
    margin-right 2%
    &:nth-child(4n)
      margin-right 2%
    &:nth-child(3n)
      margin-right 0
  
  .about-info p
    font-size 18px
    margin-bottom 30px
  .about-video
    height 500px
  .about-wrapper
    min-height: 500px 
  .good-slide__wrapper
    align-items flex-start
  .good-slide__text span
    font-size 18px
    br
      display none
    
  .good-slide__text p
    margin-top 30px
  .faq-item__answer p
    padding-left 0
    padding-right 0
    font-size 16px
  
  .proud
    padding-bottom 100px
  
  .contacts
    padding-top 100px

  
  .cpo
    padding-top 200px
  .home-form
    padding-left 0

  
  .prices-img
    display none
  .prices-info
    margin-bottom 30px
  
  .prices
    padding-bottom 150px
  
  .prices
    padding-top 100px

  
  .pick
    padding-bottom 0
  
  .schema-item__text
    width calc(100% - 90px)
  .schema-item__icon
    width 70px
  .schema-point a::before
    content none
  .schema-item__text > p
    font-size 16px
    margin-bottom 40px


  .enter
    padding-bottom 160px
  
  .schema
    padding-bottom 100px

@media screen and (max-width: 1200px)
  .content
    width 950px
  
  nav.menu ul a
    font-size 16px
  .button span
    font-size 16px
  h1
    font-size 45px
  .home-tagline span
    font-size 16px
  .home-tagline
    margin-bottom 50px
  .home-item
    padding-left 35px

  .about
    &-video
      width calc(57.7160493827% + calc((100vw - 950px) / 2))
      margin-left calc(-50vw + 475px)
  
  .team
    &-slider
      width calc(100% + calc((100vw - 950px) / 2))

  .today-slider
    width calc(100% + ((100vw - 950px) / 2))

  .videos-slider
    width calc(100% + calc((100vw - 950px) / 2))
    margin-left calc(-50vw + 475px)

  .check-item__photo
    width calc(33.4567901235% + calc((100vw - 950px) / 2))
    margin-left calc(-50vw + 475px)

  .reviews-slider
    width calc(100% + calc((100vw - 950px) / 2))
    margin-left calc(-50vw + 475px)
  
  h2
    font-size 35px
    
  .today .title
    margin-bottom 50px
  .solution-coat
    max-width: 450px
  
  .solution
    padding-top 100px

  .fraud
    padding-top 100px
  .fraud-info span
    font-size 18px
  
  .fraud-info
    margin-bottom 50px
  .fraud-label
    margin-bottom 50px
  .fraud-item
    font-size 16px
    line-height 1.5
  .team-text span
    font-size 16px
  .good
    &-slide
      &__text
        width calc(100% - 300px)
      &__photos
        width 300px
        flex-direction: column
        img
          width 100%
          &:first-child
            margin-bottom 25px
  
  .faq-item__question span:last-child
    font-size 16px
  .faq-item
    width calc(50% - 15px)
  
  .faq
    padding-bottom 80px
  .contacts #maped
    height 300px
    max-width: 60%
  
  .header
    .button
      height 50px
      padding-left 25px
      padding-right 25px
  .header .logo
    max-width: 100px


  

  .cpo
    padding-bottom 50px
  
  .prices
    padding-bottom 100px

  .schema
    &-wrapper
      flex-wrap: wrap
    &-left,
    &-right
      width 100%
      padding-right 0
    &-left
      margin-bottom 50px
  
  .schema
    &-points
      display flex
      flex-wrap wrap
      justify-content space-between
    &-point
      width calc(50% - 20px)
      &:nth-child(2n)
        text-align right
      &:nth-child(2)
        &::after
          left auto
          right 75px
      &:nth-child(4)
        &::after
          content none



  .popup-image
    height 600px
  .popup-title span
    font-size 24px

@media screen and (max-width: 992px)
  .content
    width calc(100% - 30px)
  nav.menu
    display none
  
  .home
    padding-top 140px
    &-icon
      display none

  h1
    font-size 35px
    line-height 1.4
    
  .home-tagline span
    font-size 14px
  
  .home
    .title
      margin-bottom 30px
    
  .button
    height 60px
  .home-video__info span
    font-size 18px
  .home-video__icon
    width 100px
    height 100px
  .home-video__info span
    margin-right 20px
  
  
  .today-tagline
    display none

  .about
    &-video
      width calc(57.7160493827% + 30px)
      margin-left -15px
  
  .team
    &-slider
      width calc(100% + 30px)

  .today-slider
    width calc(100% + 30px)

  .videos-slider
    width calc(100% + 30px)
    margin-left -15px

  .check-item__photo
    width calc(33.4567901235% + 30px)
    margin-left -15px

  .reviews-slider
    width calc(100% + 30px)
    margin-left -15px

  
  .today-center
    padding-left 30px
  .conditions
    height 300px
  h2
    font-size 25px
  
  .title h2 + span
    font-size 14px
  .solution-coat
    display none
  .solution .content
    padding-left 0
    
  .reasons-item
    width 50%
  .reasons-item__center span
    font-size 16px
  p
    font-size 16px
  .reasons-item__center span
    min-height:  unset
  .team-slide
    width 400px
    height 580px
    &__text
      padding-left 20px

  .team-slide__text span:first-child,
  .team-slide__text span:last-child
    font-size 16px


  .videos-slide
    width 700px
    height 400px
  
  .videos
    padding-bottom 100px

  
  .find
    padding-top 100px
    padding-bottom 100px
    .title
      margin-bottom 40px
    &-item
      &__text
        padding-left 0
        span
          &::before
            content none
    &-items
      justify-content space-between
    &-item
      width calc(50% - 10px)
      margin-bottom 35px
      &__text
        p
          font-size 14px
        span
          font-size 18px
      &__number
        font-size 60px
  .check-tabs ul li
    font-size 18px
    &:last-child
      margin-right 0
  
  .check
    padding-bottom 100px
    &-tabs
      margin-bottom 40px
    &-item
      &__photo
        display none
      &__list
        width 100%
  .check-item__list li
    font-size 16px
    padding-left 40px
  
  .good
    &-slide
      &__photos
        display none
      &__text
        width 100%
        padding-right 0
        li
          font-size 16px
    .title
      margin-bottom 40px
  
  .faq
    &-item
      width 100%
  
  .contacts
    display none
  
  .header-burger
    display flex
    margin-left 20px

  
  .cpo
    padding-top 140px
    .title
      margin-bottom 25px
  .home-form input, .condition-form input
    height 60px

  .home-form .form-row .form-group button, .condition-form .form-row .form-group button
    height 62px

  .home-form input
    padding-left 30px
    font-size 16px
  .cpo .home-tagline
    margin-bottom 40px
  .prices-tabs ul li span
    font-size 18px
  .enter .today-center
    padding-left 0


  // Menu
  nav.menu
    display block
    position absolute
    left 0
    top 0
    width 100%
    height 100vh
    background #171717
    z-index -1
    opacity 0
    transform: translateX(-100%)
    visibility hidden
    pointer-events: none
    opacity 0
    transition: $tr
    &.active
      z-index 30
      opacity 1
      transform: translateX(0)
      visibility visible
      pointer-events: all
      opacity 1
    ul
      flex-direction: column
      align-items flex-start
      height 100%
      justify-content center


  .header
    .logo,
    .header-burger,
    .header-phone,
    .header-button
      position relative
      z-index 32

  nav.menu ul li
    display flex
    width 100%
    margin-right 0
    a
      display flex
      height 60px
      align-items center
      padding-left 35px
      bb()
      width 100%
      font-size 25px
      position relative
      &::before
        content ''
        position absolute
        left 15px
        top 50%
        width 10px
        height 10px
        margin-top -5px
        border-radius: 50%
        background $gr


  .popup-title span
    font-size 20px
    br
      display none
  .popup-image
    height 500px

@media screen and (max-width: 767px)
  .header-phone,
  .header-button
    display none
  
  .home
    padding-top 120px
  h1
    font-size 30px
  .home-item span
    font-size 14px
  
  .home-item
    width 100%
  .home-video__info span
    margin-right 10px
  
  .home-video__info span
    font-size 16px
  .button span
    font-size 14px
    
  .button
    padding-left 30px
    padding-right 30px
    height 50px
  
  .today
    padding-top 50px
  .today-slide__name
    font-size 16px
    margin-bottom 10px
  p
    font-size 14px

  .today-slide
    width 380px
  .solution
    padding-top 50px

  .solution-content span
    font-size 16px
    margin-bottom 20px
  
  .solution-content
    margin-bottom 20px
  .solution-result__list li
    padding-left 40px
    font-size 16px
  
  .reasons
    padding-top 50px
    &-item
      width calc(50% - 10px)
      &__center
        padding-left 0
        span
          &::before
            content none
    &-items
      justify-content space-between
  .reasons-item__center span
    font-size 14px
  .reasons-item__number
    display none
  
  .callback
    height 350px
  
  .fraud
    padding-top 50px
    &-items
      justify-content space-between
    &-item
      width calc(50% - 10px)
      margin-right 0
      &:nth-child(4n)
        margin-right 0
  
  .about
    &-video
      display none  
    &-info
      width 100%
    &-wrapper
      min-height: auto
    
    .title
      margin-bottom 50px
  
  .licenses
    padding-bottom 50px
    margin-bottom 0
    .title
      margin-bottom 20px
    &-item
      width 33.33333333%
      margin-bottom 10px

  
  .team
    padding-bottom 50px
    &-slider
      padding-left 75px

  .team .slick-arrow.slick-next
    left -50px
  .team-slide
    width 300px
    height 480px
  .videos-slide
    width 600px
    height 350px
  
  .videos
    padding-bottom 50px
  
  .find
    padding-top 50px
    padding-bottom 50px
  .check .title
    margin-bottom 50px
  .check
    padding-bottom 50px
  
  .faq
    padding 50px 0
  .proud .title
    margin-bottom 50px

  .prices
    padding-top 50px
    padding-bottom 50px
  .prices-tabs ul li span
    font-size 15px
  .prices-info p
    font-size 16px
    line-height 1.8
  .prices-item__row span
    font-size 16px
    line-height 1.5
  .condition-form input
    padding-left 30px
    font-size 16px
  
  .pick
    padding-top 50px
  .enter .title
    margin-bottom 40px
  .title h2 + span
    line-height 1.5
  .schema .title
    margin-bottom 50px

  .payback.conditions
    height 400px
    .form-row
      flex-wrap: wrap
      width 400px
      display flex
      flex-direction: column
      .button 
        padding 0
        width 100%
        justify-content center
      .form-group
        margin-right 0
  
  .enter
    padding-top 50px
  .title h2 + span
    br
      display none
    
  
  .schema-point
    width 100%
    &:nth-child(2n)
      text-align left
    &:nth-child(2)
      &::after
        right auto
        left 140px
    &:nth-child(4)
      &::after
        content ''
  
  .schema-item
    width 100%
  
  .schema
    padding-bottom 50px
  

  .about
    padding-top 50px


  .popup
    &-image
      display none
    &-form
      padding-top 50px
      padding-bottom 50px
      width 100%

  .popup
    max-width 500px

  .popup-span span,
  .popup-label span,
  .popup-phone a,
  .popup-social__name
    font-size 18px
        
@media screen and (max-width: 576px)
  .home
    padding-bottom 120px

    &-video
      width 100%
      &__info
        padding-left 15px
        bottom 20px
        top: auto
        transform: none
  .home .title
    margin-bottom 20px
  .home
    &-tagline
      margin-bottom 20px
  .home-video__info span
    br
      display none
  .conditions
    .title
      text-align center
      h2
        margin-bottom 10px
  .solution-result__name
    font-size 16px
    margin-bottom 20px
  .solution-result__list li
    font-size 14px
  
  .reasons
    .title
      h2  
        margin-bottom 10px
  .videos-slide
    width 400px
    height 250px
  .videos-slide__link::after
    width 100px
    height 100px
    margin-top -50px
    margin-left -50px
  
  .find
    &-item
      width 100%
      margin-bottom 40px
      &__number
        font-size 50px
        margin-bottom 10px
  h2
    font-size 20px
  .check-tabs ul li
    margin-right 20px
    font-size 14px
  .check-tabs ul li
    font-size 14px
  .faq-item__question span:first-child
    font-size 35px
    width 50px
  .proud .title
    margin-bottom 30px
  
  .proud,
  .reviews
    padding-bottom 50px

  .prices-tabs ul li span
    line-height 1.4
  .prices-info p
    font-size 14px

  .popup
    max-width: 400px
  .popup-title span
    font-size 18px
    line-height 1.4
  
  

@media screen and (max-width: 480px)
  .header .logo
    max-width: 75px
  
  .home
    padding-top 100px
  h1
    font-size 25px
  
  .home-tagline
    span
      br
        display none
  .home-button
    margin-bottom 20px
  .home-video__info span
    font-size 14px
    br
      display block


  .today
    &-slide
      width 280px
      
      &__img
        display none
      
  .today .slick-slide
    margin 0 10px
  .today-slide__name
    font-size 14px
  .today-slide__text
    margin-bottom 30px
  .today-slide__btn a
    font-size 14px
  
  .today
    padding-bottom 100px
  .slick-arrow
    width 30px
    bottom -50px
    height 30px
    &::before
      width 12px
      height 12px
      margin-left -6px
      margin-top -6px

  .solution-content span
    font-size 14px
    line-height 1.8
  p 
    line-height 1.8
  .reasons-item
    width 100%
  .reasons-item__top
    margin-bottom 15px
  .reasons-item__center
    span
      margin-bottom 5px
  input, textarea
    height 50px
    font-size: 16px
  
  .fraud-info span
    font-size 14px
    line-height 1.8
  .fraud-label span
    font-size 18px
  .fraud-item
    width 100%
    padding 20px
  
  .about
    padding-top 50px
  .title
    h2
      & + span
        margin-top 10px
  .licenses-item
    width 50%
  .team-slide
    width 200px
    height 380px
  .team-slide__text span:first-child, .team-slide__text span:last-child
    font-size 14px
  .videos-slide
    width 300px
    height 200px
  .videos-slider .slick-arrow.slick-prev
    right -60px
  .videos-slider 
    padding-right 50px
  .check-tabs ul li
    font-size 10px
  .check-item__list li
    font-size 13px
    padding-left 30px
  .good-slide__text li
    font-size 13px
    line-height 1.8
  .faq-item__question span:first-child
    display none
  .faq-item__question span:last-child
    font-size 14px
    width 100%
  .faq-item__answer p
    font-size 14px
    line-height 1.8
  .reviews-slider
    padding-right 50px
  .reviews-slider .slick-arrow.slick-prev
    right -60px
  
  .cpo
    padding-top 100px
  h1
    font-size 23px

  .home-form
    .form-row
      flex-wrap wrap
      .form-group.form-group__button
        left 0
        .button
          width 100%
          padding 0
          justify-content center
  
  .cpo
    padding-bottom 30px
  .prices-tabs ul
    flex-wrap wrap
    span
      height 30px
    li
      margin-bottom 10px
  .prices-tabs
    margin-bottom 30px
  .prices-item__row 
    justify-content space-between
    span
      font-size 14px
      width calc(50% - 5px)
      &:nth-child(2)
        text-align: right
  .payback.conditions .form-row
    width 100%
  .pick-name
    font-size 16px
    line-height 1.5

  .pick-list li
    font-size 14px
    padding-left 35px
  .pick-span
    font-size 14px
    margin-bottom 20px
  .pick-paragraph
    margin-bottom 20px
  .pick-name
    margin-bottom 20px
  .pick .title
    margin-bottom 30px
  .schema-point::after,
  .schema-point:nth-child(4)::after
    content none
  .schema-point
    padding-bottom 40px
    span,
    a
      font-size 14px

  
  .schema
    &-item
      flex-wrap: wrap
      &__icon
        width auto
        margin-bottom 15px
      &__text
        width 100%
        span
          font-size 16px
          margin-bottom 15px

  
  .enter
    padding-bottom 100px
    


  .popup
    max-width: 300px
    padding 30px 20px
    bb()
    
  .popup-form
    padding 0
  

  .popup-title span
    font-size 16px
  .popup-span
    margin-top 10px
    margin-bottom 20px
  .popup-span span, .popup-label span, .popup-phone a, .popup-social__name
    font-size 14px
  .popup-social__nav li
    margin-right 15px
  .popup-social__nav li a
    width 30px
    height 30px