mixin about(data)
  section.about
    .content
      .title(data-scroll data-scroll-speed='1.2' data-scroll-offset='50')  
        h2 «Содействие»: команда из 23 экспертов
        span Клиентам помогают сотрудники с опытом работы от 8 лет в соответствующих гос. структурах
    

      .about-wrapper


        //- About Video
        .about-video(data-scroll  data-scroll-offset='50')
          a(href="#").about-video__link
            img(src="static/img/assets/about/about.jpg", alt="About")

        //- About Info
        .about-info(data-scroll  data-scroll-offset='50')
          p Мы занимаемся регистрацией в НРС НОСТРОЙ и НОПРИЗ с 2017 года, а наши сотрудники работают в этой отрасли еще дольше. Поэтому
            strong  мы учитываем нюансы, без которых попасть в реестры невозможно. 
          p Придерживаемся принципов честности и открытости: разбираемся в задачах и предлагаем решение. Если не в силах помочь, сразу говорим об этом.   
            strong Наша работа экономит клиентам до 7 дней. 
          a(href="#") Смотреть подробнее