mixin reviews(data)
  section.reviews

    .content

      .reviews-slider
        .reviews-slides

          //- Licenses Item
          a(href="static/img/assets/licenses/lb1.jpg" data-fancybox='licenses').reviews-item
            img(src="static/img/assets/licenses/l1.jpg", alt="License")
        
          //- Licenses Item
          a(href="static/img/assets/licenses/lb2.jpg" data-fancybox='licenses').reviews-item
            img(src="static/img/assets/licenses/l2.jpg", alt="License")
          
          //- Licenses Item
          a(href="static/img/assets/licenses/lb3.jpg" data-fancybox='licenses').reviews-item
            img(src="static/img/assets/licenses/l3.jpg", alt="License")
          
          //- Licenses Item
          a(href="static/img/assets/licenses/lb4.jpg" data-fancybox='licenses').reviews-item
            img(src="static/img/assets/licenses/l4.jpg", alt="License")
        
          //- Licenses Item
          a(href="static/img/assets/licenses/lb5.jpg" data-fancybox='licenses').reviews-item
            img(src="static/img/assets/licenses/l5.jpg", alt="License")

          //- Licenses Item
          a(href="static/img/assets/licenses/lb1.jpg" data-fancybox='licenses').reviews-item
            img(src="static/img/assets/licenses/l1.jpg", alt="License")
        
          //- Licenses Item
          a(href="static/img/assets/licenses/lb2.jpg" data-fancybox='licenses').reviews-item
            img(src="static/img/assets/licenses/l2.jpg", alt="License")
          
          //- Licenses Item
          a(href="static/img/assets/licenses/lb3.jpg" data-fancybox='licenses').reviews-item
            img(src="static/img/assets/licenses/l3.jpg", alt="License")
          
          //- Licenses Item
          a(href="static/img/assets/licenses/lb4.jpg" data-fancybox='licenses').reviews-item
            img(src="static/img/assets/licenses/l4.jpg", alt="License")
        
          //- Licenses Item
          a(href="static/img/assets/licenses/lb5.jpg" data-fancybox='licenses').reviews-item
            img(src="static/img/assets/licenses/l5.jpg", alt="License")
