.reviews
  padding-bottom 120px
  &-slider
    width calc(100% + calc((100vw - 1620px) / 2))
    padding-right 125px
    bb()
    position relative
    margin-left calc(-50vw + 810px)

  
  .slick-slide
    margin 0 5px
  .slick-list
    margin 0 -5px
  

.reviews-slider
  .slick-slide
    outline: none
    margin 0 5px
  .slick-list 
    margin 0 -5px
  .slick-arrow
    &.slick-next
      display none !important
    &.slick-prev
      right -103px
      left auto
      bottom: auto
      top 50%
      transform: translateX(-50%)
      &::before
        transform: rotate(180deg) 
  

.reviews
  &-item
    hdnt()
    transition-delay: .1s
    &:nth-child(2)
      transition-delay: .2s
    &:nth-child(3)
      transition-delay: .3s
  &-slider.is-inview
    .reviews-item
      showt()