mixin videos(data)
  section.videos
    .content
      
      .videos-slider

        .videos-slides
          
          //- Videos Slide
          .videos-slide
            a(href="#").videos-slide__link
              img(src="static/img/assets/videos/v1.jpg", alt="Videos Slide")
          
          //- Videos Slide
          .videos-slide
            a(href="#").videos-slide__link
              img(src="static/img/assets/videos/v2.jpg", alt="Videos Slide")
          