.prices
  padding-top 240px
  padding-bottom 190px
  .title
    margin-bottom 65px
    text-align center
  &-item
    &__row
      display flex
      align-items center
      padding 25px 0
      &:last-child
        border-bottom none
      span
        font-size 18px
        line-height 1.5
        color $wh
        font-family $Medium
  &-wrapper
    max-width: 1150px
    margin 0 auto
  &-tabs
    margin-bottom 40px
    ul
      display flex
      li
        cursor pointer
        flex: auto
        &.active
          span
            &::before
              opacity 1
        span
          font-size 22px
          line-height 33px
          font-family $Semi
          position relative
          &::before
            content ''
            position absolute
            bottom -4px
            left 0
            width 100%
            transition: $tr
            opacity 0
            height 2px
            background $ac
  &-info
    margin-bottom 70px
    p
      font-size 18px
      line-height 1.5
      color $wh

  &-item
    &__row
      display flex
      justify-content space-between
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      align-items center
      span
        font-size 18px
        line-height 1.5
        font-family $Reg
    &__button
      margin-top 20px


.prices
  position relative
  &-img
    position absolute
    left 70px
    top 50%
    transform: translateY(-50%)

.prices
  &-items
    position relative
  &-item
    position absolute
    z-index -1
    visibility hidden
    pointer-events: none
    transform: translateX(-20px)
    left 0
    opacity 0
    top 0
    &.active
      position relative
      z-index 4
      visibility visible
      opacity 1
      pointer-events: all
      transform: translateX(0)
      transition: $tr

.prices
  &-tabs
    li
      hdnt()
      transition-delay: .1s
      &:nth-child(2)
        transition-delay: .2s
      &:nth-child(3)
        transition-delay: .3s
      &.is-inview
        showt()
  &-info
    p
      hdnt()
      transition-delay: .4s
    &.is-inview
      p
        show()



.prices
  &-img
    img
      opacity 0
      transition: all 1s ease
      transition-delay: .1s
    &.is-inview
      img
        opacity 1


  &-items
    hdnt()
    transition-delay: .5s
    &.is-inview
      showt()