mixin contacts(data)
  section.contacts#contacts
    #maped
      img(src="static/img/assets/contacts/map.png", alt="")
    .content
      .title
        h2 Контакты

        span Единный номер:

      .contacts-items
        .contacts-item
          a(href="tel:8 800-775-36-16") 8 800-775-36-16
          span бесплатно по России
        .contacts-item
          a(href="mailto:info@csl-sodeistvie.ru") info@csl-sodeistvie.ru