mixin reasons(data)
  section.reasons
    .content
      .title
        h2 8 причин обратиться в “Содействие”
        span От аккредитации юридического лица 
          strong до 100% возврата денег при неудаче
           
    
    
      .reasons-items

        //- Reasons Item
        .reasons-item
          .reasons-item__top
            .reasons-item__number
              span 01
            .reasons-item__icon
              img(src="static/img/assets/reasons/r1.svg", alt="Reasons Item")
          .reasons-item__center
            span Бесплатная консультация
            p Не берем деньги за ответы на вопросы и помощь в выборе услуги

        //- Reasons Item
        .reasons-item
          .reasons-item__top
            .reasons-item__number
              span 02
            .reasons-item__icon
              img(src="static/img/assets/reasons/r2.svg", alt="Reasons Item")
          .reasons-item__center
            span Оперативность
            p Добьемся внесения в срок от 1 дня

        //- Reasons Item
        .reasons-item
          .reasons-item__top
            .reasons-item__number
              span 03
            .reasons-item__icon
              img(src="static/img/assets/reasons/r3.svg", alt="Reasons Item")
          .reasons-item__center
            span Юридическая гарантия качества
            p Результаты услуг зафиксируем в договоре. 
        //- Reasons Item
        .reasons-item
          .reasons-item__top
            .reasons-item__number
              span 04
            .reasons-item__icon
              img(src="static/img/assets/reasons/r4.svg", alt="Reasons Item")
          .reasons-item__center
            span Возврат денег
            p Вернем полную стоимость услуги, если не добьемся включения в реестр или не подберем подходящих сотрудников
      

        //- Reasons Item
        .reasons-item
          .reasons-item__top
            .reasons-item__number
              span 05
            .reasons-item__icon
              img(src="static/img/assets/reasons/r5.svg", alt="Reasons Item")
          .reasons-item__center
            span Полное документальное сопровождение
            p Проконсультируем по пакету бумаг, поможем корректно подготовить заявление.

        //- Reasons Item
        .reasons-item
          .reasons-item__top
            .reasons-item__number
              span 06
            .reasons-item__icon
              img(src="static/img/assets/reasons/r6.svg", alt="Reasons Item")
          .reasons-item__center
            span Полное соответствие 372-ФЗ
            p Гарантируем юридическую верность каждого предложения.

        //- Reasons Item
        .reasons-item
          .reasons-item__top
            .reasons-item__number
              span 07
            .reasons-item__icon
              img(src="static/img/assets/reasons/r7.svg", alt="Reasons Item")
          .reasons-item__center
            span Честное предоставление внесенных специалистов
            p Закрепляем сотрудника только за одной организацией
        //- Reasons Item
        .reasons-item
          .reasons-item__top
            .reasons-item__number
              span 08
            .reasons-item__icon
              img(src="static/img/assets/reasons/r8.svg", alt="Reasons Item")
          .reasons-item__center
            span Работаем с отказами 
            p Если ранее вы получили отрицательный ответ, разберемся в причинах и поможем попасть в реестр