mixin payback(data)
  section.payback.conditions
    .conditions-image
      img(src="static/img/assets/conditions/cond.png" srcset='static/img/assets/conditions/cond@2x.png 2x, static/img/assets/conditions/cond@15x.png 1.5x' alt="Conditions")
    .content
      .title
        h2 Окупаемость налицо
        span
          strong За 2 мин. оцените прибыль от небольших затрат
      .condition-form
        form
          .form-row
            .form-group 
              input(type="text" placeholder='Ваше имя')
            .form-group
              input(type="tel" placeholder='Ваш телефон')
            .form-group
              button.button
                span Подобрать СРО
