mixin faq(data)
  section.faq
    .content
      .title
        h2 Одна из неотъемлемых частей работы — экспертные ответы на вопросы
        span Приводим популярные сомнения и развеиваем их


      .faq-items



        //- Faq Item 
        .faq-item
          .faq-item__question
            span 01 
            span Как специалистов добавляют в НОСТРОЙ/НОПРИЗ?
          .faq-item__answer
            p  Нужно подготовить пакет документов и отправить его на регистрацию. Если все оформлено корректно, а сотрудники соответствуют требованиям, их внесут в реестр
        //- Faq Item 
        .faq-item
          .faq-item__question
            span 02
            span Вы поможете, если ранее мы уже получили отказ в регистрации? ИЗ?
          .faq-item__answer
            p  Нужно подготовить пакет документов и отправить его на регистрацию. Если все оформлено корректно, а сотрудники соответствуют требованиям, их внесут в реестр
        //- Faq Item 
        .faq-item
          .faq-item__question
            span 03
            span В штате нет сотрудников, подходящих под требования, но статус СРО очень нужен. Вы поможете? 
          .faq-item__answer
            p  Нужно подготовить пакет документов и отправить его на регистрацию. Если все оформлено корректно, а сотрудники соответствуют требованиям, их внесут в реестр
        //- Faq Item 
        .faq-item
          .faq-item__question
            span 04 
            span Какие документы потребуются? 
          .faq-item__answer
            p  Нужно подготовить пакет документов и отправить его на регистрацию. Если все оформлено корректно, а сотрудники соответствуют требованиям, их внесут в реестр
        //- Faq Item 
        .faq-item
          .faq-item__question
            span 05
            span Можно ли работать с тендерами без зарегистрированных специалистов? 
          .faq-item__answer
            p  Нужно подготовить пакет документов и отправить его на регистрацию. Если все оформлено корректно, а сотрудники соответствуют требованиям, их внесут в реестр
        //- Faq Item 
        .faq-item
          .faq-item__question
            span 06
            span Можно ли подать документы на регистрацию самостоятельно? 
          .faq-item__answer
            p  Нужно подготовить пакет документов и отправить его на регистрацию. Если все оформлено корректно, а сотрудники соответствуют требованиям, их внесут в реестр
        //- Faq Item 
        .faq-item
          .faq-item__question
            span 07 
            span В каком регионе России вы работаете? 
          .faq-item__answer
            p  Нужно подготовить пакет документов и отправить его на регистрацию. Если все оформлено корректно, а сотрудники соответствуют требованиям, их внесут в реестр
        //- Faq Item 
        .faq-item
          .faq-item__question
            span 08
            span Сколько сотрудников следует включить в реестры, чтобы получить статус СРО?
          .faq-item__answer
            p  Нужно подготовить пакет документов и отправить его на регистрацию. Если все оформлено корректно, а сотрудники соответствуют требованиям, их внесут в реестр

        
