mixin enter(data)
  section.enter
    .content
      .title(data-scroll data-scroll-speed='1.2' data-scroll-offset='50')
        h2 42% организаций не помогают 
          br
          | клиентам вступить в СРО
        span
          strong 6 причин обращаться к аккредитованным профессионалам
          |  с собственной
          br
          |  базой проверенных организаций
      

      .today-center
        .today-tagline(data-scroll data-scroll-speed='1.2' data-scroll-offset='100')
          span Помощь при вступлении в СРО часто предлагают недобросовестные исполнители и откровенные мошенники. Чтобы не стать их жертвой, не потратить впустую время и деньги, 
            strong запомните 6 признаков обмана
        .today-slider(data-scroll data-scroll-offset='50')
          .today-slides

            //- Today Slide
            .today-slide
              .today-slide__wrapper
                .today-slide__name Рекомендуют подозрительное СРО 
                .today-slide__text
                  p Не объясняют, по каким критериям выбрали организацию, не предоставляют подробную информацию, требуют быстрее внести деньги

            //- Today Slide
            .today-slide
              .today-slide__wrapper
                .today-slide__name Скрывают информацию о себе
                .today-slide__text
                  p Проверим сотрудника по требованиям НРС, уточним специальность и стаж, спрогнозируем процент риска отказа
            //- Today Slide
            .today-slide
              .today-slide__wrapper
                .today-slide__name Не поддерживают клиента
                .today-slide__text
                  p Консультируют платно, требуют самостоятельно оформлять и отправлять документы

            //- Today Slide
            .today-slide
              .today-slide__wrapper
                .today-slide__name Рекомендуют подозрительное СРО 
                .today-slide__text
                  p Не объясняют, по каким критериям выбрали организацию, не предоставляют подробную информацию, требуют быстрее внести деньги

            //- Today Slide
            .today-slide
              .today-slide__wrapper
                .today-slide__name Скрывают информацию о себе
                .today-slide__text
                  p Проверим сотрудника по требованиям НРС, уточним специальность и стаж, спрогнозируем процент риска отказа
            //- Today Slide
            .today-slide
              .today-slide__wrapper
                .today-slide__name Не поддерживают клиента
                .today-slide__text
                  p Консультируют платно, требуют самостоятельно оформлять и отправлять документы  