.enter
  padding-top 105px
  padding-bottom 238px
  .title
    text-align center
    margin-bottom 80px

  .today
    &-center
      padding-left 520px
    &-tagline
      max-width: 500px
      top 50%
      transform: translateY(-50%)
      span
        font-size 18px
        line-height 1.5
        color $wh
        font-family $Reg
        strong
          color $ac