mixin pick(data)
  section.pick
    .content
      .title(data-scroll data-scroll-speed='1.2' data-scroll-offset='50')
        h2 Подберем стабильное СРО
      
      .pick-content(data-scroll data-scroll-offset='50')
        .pick-name Проверяем партнеров по 
          span  чек-листу 
            strong   из 420 пунктов 
        .pick-paragraph
          p Неправильный выбор СРО грозит штрафами, убытками и даже закрытием бизнеса. Поэтому мы собрали базу надежных организаций с безупречной репутацией. Поможем выбрать СРО под ваши задачи.
        .pick-span
          strong Каждая из предлагаемых нами организаций соответствует следующему перечню требований:
        .pick-list
          ul
            li Срок работы — от 1 года
            li 1000+ участников
            li Открытый реестр членов на сайте
            li Зарегистрирована в Ростехнадзоре.
            li Предоставляет законную рассрочку платежей.