mixin today(data)
  section.today
    .content
      .title(data-scroll data-scroll-speed='1.2' data-scroll-offset='50')
        h2 Обратитесь к нам сегодня
        span Получите 
          strong до 40% больше,
          |  чем просто регистрация НРС
      

      .today-center
        .today-tagline(data-scroll data-scroll-speed='1.2' data-scroll-offset='100')
          img(src="static/img/assets/today/tagline.svg", alt="Tagline SVG")
        .today-slider(data-scroll data-scroll-offset='50')
          .today-slides

            //- Today Slide
            .today-slide
              .today-slide__wrapper
                .today-slide__img
                  img(src="static/img/assets/today/t1.png", alt="Today Icon")
                .today-slide__name Проверка документов 
                .today-slide__text
                  p Выясним, собрали ли вы полный комплект комплект документов, а также корректно ли заполнили заявления. 
                .today-slide__btn
                  a(href="#") Заказать
              
            //- Today Slide
            .today-slide
              .today-slide__wrapper
                .today-slide__img
                  img(src="static/img/assets/today/t2.png", alt="Today Icon")
                .today-slide__name Аудит специалистов 
                .today-slide__text
                  p Проверим сотрудника по требованиям НРС, уточним специальность и стаж, спрогнозируем процент риска отказа 
                .today-slide__btn
                  a(href="#") Заказать
            

            //- Today Slide
            .today-slide
              .today-slide__wrapper
                .today-slide__img
                  img(src="static/img/assets/today/t3.png", alt="Today Icon")
                .today-slide__name Внесение ваших специалистов 
                .today-slide__text
                  p Подготовим и подадим документы в НРС, гарантируем включение в реестр. 
                .today-slide__btn
                  a(href="#") Заказать
            
            //- Today Slide
            .today-slide
              .today-slide__wrapper
                .today-slide__img
                  img(src="static/img/assets/today/t1.png", alt="Today Icon")
                .today-slide__name Проверка документов 
                .today-slide__text
                  p Выясним, собрали ли вы полный комплект комплект документов, а также корректно ли заполнили заявления. 
                .today-slide__btn
                  a(href="#") Заказать
              
            //- Today Slide
            .today-slide
              .today-slide__wrapper
                .today-slide__img
                  img(src="static/img/assets/today/t2.png", alt="Today Icon")
                .today-slide__name Аудит специалистов 
                .today-slide__text
                  p Проверим сотрудника по требованиям НРС, уточним специальность и стаж, спрогнозируем процент риска отказа 
                .today-slide__btn
                  a(href="#") Заказать
            

            //- Today Slide
            .today-slide
              .today-slide__wrapper
                .today-slide__img
                  img(src="static/img/assets/today/t3.png", alt="Today Icon")
                .today-slide__name Внесение ваших специалистов 
                .today-slide__text
                  p Подготовим и подадим документы в НРС, гарантируем включение в реестр. 
                .today-slide__btn
                  a(href="#") Заказать